VITE_API_KEY=f060acb954b5e7d83191a33aa60087e4
VITE_API_URL=https://api.openweathermap.org/data/2.5/weather
VITE_RAIN_URL=https://images.unsplash.com/photo-1558920778-a82b686f0521?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTB8fHJhbnklMjB3ZWF0aGVyfGVufDB8fDB8fHww
VITE_COLD_URKL=https://plus.unsplash.com/premium_photo-1668049959101-3ce62382b7a5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDI0fHx8ZW58MHx8fHx8
VITE_HOT_URL=https://plus.unsplash.com/premium_photo-1661815009844-0533d0d98d45?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHx8